.bg-primary {
  --bs-primary-rgb: 15, 25, 160;
}

.bg-secondary {
  --bs-secondary-rgb: 0, 11, 59;
}

.text-primary {
  --bs-primary-rgb: 15, 25, 160;
}

.text-secondary {
  --bs-secondary-rgb: 211, 69, 150;
}

.bar-container {
  background-color: #ced1eb;
  height: 40px;
}

.bar-fill {
  background-color: #0f19a0;
  height: 40px;
  animation: barAnimation 2s forwards;
  animation-iteration-count: 1;
}

.bookmark {
  height: 90px;
  width: 1rem;
}

.image-banding {
  background-image: url("image 12.svg");
}

.rounded-bl {
  border-bottom-left-radius: 2rem !important;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #d34596;
  --bs-btn-border-color: #d34596;
  --bs-btn-hover-bg: #da54a0;
  --bs-btn-hover-border-color: #da54a0;
  --bs-btn-active-bg: #da54a0;
  --bs-btn-active-border-color: #da54a0;
}

html,
body {
  color: #030f43;
  height: 100%;
  font-family: Noto Sans;
}

body.login {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

a,
i.fa-circle-info {
  color: #d34596 !important;
}

.bg-footer:after {
  content: "";
  position: absolute;
  background-color: #f3f1f3;
  width: 500%;
  height: 100%;
  top: 0px;
}

.form-signin {
  width: 100%;
  max-width: 380px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@property --percent {
  syntax: "<percentage>";
  initial-value: 0;
  inherits: false;
}

@keyframes barAnimation {
  from {
    width: 0;
  }
  to {
    width: var(--percent-total);
  }
}
